@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Mynerve&display=swap');


body {
  background-color: bisque;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & h1{
    font-family: 'Almendra Display', cursive;
  font-family: 'Mynerve', cursive;
  }
 & .div-answer{
  
  flex-direction:inherit;
  
  }

& .container {
  box-shadow: 10px 10px 8px #888888;
}


}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


